{% extends 'base.html' %}

{% block content %}

<h2 class="text-center mb-4">🍰 CakeCraft Products</h2>

<div class="row">

{% for product in products %}

<div class="col-md-4 mb-4">

    <div class="card shadow h-100">

        {% if product.image %}
        <img src="{{ product.image.url }}" class="card-img-top" height="250">
        {% endif %}

        <div class="card-body">

            <h4>{{ product.name }}</h4>

            <p>{{ product.description }}</p>

            <h5>₹{{ product.price }}</h5>

            <p class="text-muted">{{ product.category }}</p>

            <a href="{% url 'product_detail' product.id %}" class="btn btn-primary w-100">
                View Product
            </a>

        </div>

    </div>

</div>

{% empty %}

<div class="col-12">
    <h3 class="text-center">No Products Available</h3>
</div>

{% endfor %}

</div>

{% endblock %}